:root {
  --light-grey: #555753;
  --dark-grey: #DDDDDD;
  --grey: #6f6f6f;
  --navbar-grey: #333333;
  --green: #3C8D2F;
  --border-grey: #cccccc;
  --active-green: #0A4600;
}

html {
  margin: 0; 
  padding: 0;
}

.link-active {
  background-color: var(--green);
  padding: 0 2rem;
  display: inline-block;
}

body {
  font-family: helvetica, roboto, arial, sans-serif;
  line-height: 1.88889;
  color: var(--light-grey);
  background: white; 
  text-align: center;
  min-height: 100%;
  margin: 0px;
  position: relative; 
  text-rendering: optimizeLegibility;
}

nav {
  text-align: right;
}

hr {
  border: solid var(--dark-grey);
  border-width: 1px 0 0;
  margin: 1.25rem 0 1.1875rem;
  clear: both;
  height: 0;
}

p {
  margin-top: 0;
  text-align: center;
  color: var(--grey);
}

a {
  text-decoration: none;
  color: white;
}

h3 {
  color: black;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
  font-size: 2.31rem;
  font-weight: normal;
}

h1 {
  line-height: 100%;
  font-size: 4em;
  font-weight: normal;
  margin-bottom: 0;
  text-align: left;
  color: white;
}

h4 {
  font-size: 1.35em;
  margin-top: 0;
  font-weight: normal;
  width: 553.328px;
  position: relative;
  text-align: left;
  color: white;
}

.row {
  width: 1000px;
  margin: auto;
}

.box-of-all {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
}

.top-bar {
  background-color: var(--navbar-grey);
  color: white;
  margin-bottom: 0;
  position: relative;
  height: 3rem;
  line-height: 3rem;
}

.top-bar-left-side {
  margin-left: 15px;
  float: left;
}

.top-bar-right-side {
  float: right;
  line-height: 2.8125rem;
  font-size: 80%;
  text-transform: none;
}

.link {
  padding: 0 15px 0 15px;
  display: inline-block;
  height: 3rem;
  text-decoration: none;
  color: white;
}

.link:active {
  background-color: var(--green);
}

.link:hover {
  background-color: black; 
}

.gallery {
  background: url('images/6.png') no-repeat center center;
  background-size: cover;
  height: 350px;
  padding: 20px;
  z-index: 50;
  margin-bottom: 2rem;
  position: relative;
}

.main-wrapper {
  width: 1000px;
  margin: auto;
}

.bottom {
  color: black;
  cursor: auto;
  position: relative;
  padding: 14px 0 10px;
  line-height: 1.5;
  width: 100%;
  height: 20px;
  background-color: var(--navbar-grey);
  background-size: 20px;
  float: left;
}

.footer-description {
  height: 1300px; 
  display: inline;
  margin: 6px 0 0;
  font-size: 0.75rem;
  color: var(--grey);
  font-weight: normal;
  line-height: 1.6;
}

/*home_style*/

.main-section {
  display: block;
  line-height: 1.5;
}

.main-section-top {
  float: none;
  font-size: 1.4375rem;
  margin:0 auto;
  line-height: 1.4;
  position: relative;
  padding: 0px 15px;
  width: 636.656px;
  color: var(--grey);
}

.step-section {
  width: 789px;
  height: 257px;
  margin: 0 auto;
}

.step-section-left {
  position: relative;
  height: 257px;
  float: left;
  padding-right: 15px;
}

.step-section-center {
  height: 136.65px;
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.step-section-right {
  position: relative;
  float: left;
  height: 100px;
}

.image {
  border: none;
  width: 136.656px;
  height: 136.656px;
  display: block;
  height: auto;
}

.one-line {
  color: black;
  width: 136.656px;
  height: 100px;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  padding-bottom: 60px;
  display: block; 
}

/* client_server_style*/

.center-description {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.6;
  color: black;
}

.headline {
  font-size: 1.68rem;
  text-align: left;
  display: block
}

.button:hover {
  background-color: var(--active-green);
  border-color: var(--active-green); 
}

.button {
  background: var(--green);
  border: solid var(--green);
  color: white;
  float: left;
  padding: 0.5rem 2rem 0.5rem 2rem;
  position: relative;
  margin: 0 0 1.25rem;
  font-size: 1rem;
  transition: border-color background-color 300ms ease-out;
}

.links-button {
  color: var(--active-green);
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
  text-align:justify; 
  text-decoration: none;
}

.bottom {
  color: black;
  cursor: auto;
  position: relative;
  padding: 14px 0 10px;
  line-height: 1.5;
  width: 100%;
  height: 20px;
  background-color: var(--navbar-grey);
  background-size: 20px;
  float: left;
}

.text-left-side {
  display: inline-block;
  float: left;
  width: 553px;
}

.right-image{
  display: inline-block;
  float: right;
  width: 386.656px;
}

.useful-links-box {
  position: relative;
  float: left;
  text-align: justify;
  padding: 0 0.9375rem 0 0.9375rem;
}

.description {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.6;
  width: 303px;
  color: black;
}

.add-links-box {
  position: relative;
  float: left;
  text-align: justify;
  padding: 0 0.9375rem 0 0.9375rem;
}

.box-of-form {
  width: 970px;
  height: 230px;
}

.form-box {
  width: 100%;
  border-radius: none;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: var(--border-grey);
  display: block;
  box-shadow: inset 0 1px 2px var(--border-grey);
  font-size: 0.875rem;
  height: 2.3125rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
}

/*html_css_js_style*/

.head {
  width: 554px;
}

.row-table {
  width: 1000px;
  margin: auto;
  display: table;
}

/*mvc_spa_style*/
